.page-banner {
  padding: 20px;
  text-align: center;

  h1 {
    margin: 0;
    color: #333;
    font-size: 2em;
  }
}

.course-card {
  max-width: 400px;
}

.author {
  color: black;
  font-size: large;
}

.courseName {
  font-weight: bold;
}

.paginator {
  display: flex;
  flex: row;
  justify-content: center;
  padding-bottom: 20px;
  font-size: medium;
}

.strikethrough {
  text-decoration: line-through;
  color: red;
}

.price-details {
  h3,
  h2 {
    margin: 0;
    padding: 0;
  }

  .strikethrough {
    text-decoration: line-through;
  }
}

.tags {
  margin-top: 10px;

  h4 {
    margin: 0;
    padding-bottom: 5px;
  }

  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;

    li {
      display: inline;
      margin-right: 5px;
      padding: 2px 5px;
      background-color: #f0f0f0;
      border-radius: 5px;
    }
  }
}

.sorting-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  .full-width-select,
  .search-bar {
    flex: 1;
    margin-right: 10px;

    &:last-child {
      margin-right: 0;
    }
  }

  mat-form-field {
    width: 100%;
  }
}
